/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

footer ul {
	display: block;
}
footer ul li{
	display: inline-block;
	margin-right: 1em; 
}
h2,
h3,
a {
	color: #093a58;
}

h1,
h2,
h3 {
	margin-top: 0;
	text-align: center;
}

/* h4 {
	margin-bottom: .4em;
} */

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}
header img {
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 2em;
	padding-top: 2em;
}
.col img{
	margin-top: 1em;
	margin-bottom: 1em;
}
p br{
	margin-bottom: 160px;
	margin-top: 1em;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.70em;
	margin: 0;
	margin-top: 0.50em;
	margin-bottom: 1em;

}

.main-nav {
	margin-top: 15px;
}

/* .name a, */
.main-nav a {
	display: block;
	text-align: center;
	padding: 5px 15px;
}

.main-nav a {
	font-size: .80em;
	color: #2c3333;
	text-transform: uppercase;
	font-weight: bold;
}
.main-nav li {
	box-shadow: 2px 2px 0.5px black;
	border: 1px rgb(96, 128, 96) solid;
	background: linear-gradient( rgb(219, 219, 228), rgb(111, 170, 83), rgba(129, 184, 104, .5));
	background-color: black;
	margin: 1em 0em 1em 3em;
	width: 65%;
	border-radius: 0% 13% 0% 13%;
}


.main-nav a:hover {
	color: #313115;
	background: linear-gradient(rgba(207, 189, 150, .3), rgba(219, 146, 9, 0.48));
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
	padding-right: 1em;
	padding-left: 1em;
}
.main-header p {
	font-size: 1em;
	text-align: center;
	padding-left: 0.05em;
	padding-right: 1em;
}

/* .banner, */
.main-footer {
	text-align: center;
}


/* .banner {
	color: #fff;
	background: #3acec2;
	padding: 3.2em 0;
	margin-bottom: 60px;
} */

.col {
	padding-right: 1em;
	padding-left: 1em;
	border: 1px solid red;
}

.main-footer {
	background: #d9e4ea;

}

.fdleft {
	float: left;
	 width: 50%;
	 margin-top: 3em;}
.fdright {
	float: right; 
	width: 50%;
	margin-top: 3em;}

.contact {
	margin-top: .9em;
}

.copyright{

	padding: 80px;
}

/* ---- Page Elements ---- */


.headline {
	margin-bottom: 0;
}

/* ================================= 
  Media Queries
==================================== */

/* @media (min-width: 769px) {

	body {
		padding-top: 68px;
	}

	.main-header {
		position: fixed;
		background: #fff;
		box-shadow: 0 1px 4px rgba(0,0,0,.4);
		width: 100%;
		top: 0;
		z-index: 1000;
	}

	.container {
		width: 90%;
		margin: 0 auto;
	}

	.name,
	.col {
		float: left;
	}

	.primary,
	.secondary,
	.tertiary {
		width: 50%;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}

	.tagline {
		font-size: 1.4em;
	}
 */
	/* ---- Float clearfix ---- */

	/* .clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

} */

/* @media (min-width: 1025px) {
	
	.container {
		width: 80%;
		max-width: 1150px;
	}

	.primary {
		width: 40%;
	}

	.secondary,
	.tertiary {
		width: 30%;
	}

} */