/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #000000;
	background: linear-gradient(#455a64 0%,#607d8b 31%,#90a4ae 54%,#cfd8dc 77%,#eceff1 100%);
}

p {
	font-size: .90em;
	margin-bottom: 1.8em;
	text-align: center;
}

footer ul {
	display: block;
	border-top: dotted #9e9e9e 2px;
	padding-bottom: 2em;
}
footer ul li{

	display: inline-block;
	margin-right: 1em; 
	margin-top: 2em;
	margin-left: 1em;
}
h2,
h3,
a {
	color: #093a58;
}

h1,
h2,
h3 {
	margin-top: 0;
	text-align: center;
}

/* h4 {
	margin-bottom: .4em;
} */

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}
header img {
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 2em;
	padding-top: 2em;
}
/* p br{
	margin-bottom: 160px;
	margin-top: 1em;
} */

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.70em;
	margin: 0;
	margin-top: 0.50em;
	margin-bottom: 1em;

}

.main-nav {
	margin-top: 15px;
}

/* .name a, */
.main-nav a {
	display: block;
	text-align: center;
	padding: 5px 15px;
}

.main-nav a {
	font-size: .80em;
	color: #2c3333;
	text-transform: uppercase;
	font-weight: bold;
}
.main-nav li {
	box-shadow: 2px 2px 0.5px black;
	border: 1px rgb(96, 128, 96) solid;
	background: linear-gradient( rgb(219, 219, 228), rgb(111, 170, 83), rgba(129, 184, 104, .5));
	background-color: black;
	margin: 1em 0em 1em 3em;
	width: 65%;
	border-radius: 0% 13% 0% 13%;
}


.main-nav a:hover {
	color: #222210;
	background: linear-gradient(rgba(207, 189, 150, .3), rgba(219, 146, 9, 0.48));
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
	padding-right: 1em;
	padding-left: 1em;
	margin-bottom: 2em;
}
.main-header p {
	font-size: 1em;
	text-align: center;
	padding-left: 0.05em;
	padding-right: 1em;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}
.col img{
	margin-top: 1em;
	margin-bottom: 1em;
}

.main-footer {
	text-align: center;
	margin-top: 5em;
}


.contact {
	margin-top: .9em;
	padding: 13px;
}

.primary p,
.secondary p,
.terciary p,
.quaternary p,
.quinary p,
.senary p {
	padding: 0 1em;
}
.quaternary p,
.quinary p, 
.senary p {
	margin-bottom: -12px;
}

.quaternary img,
.quinary img,
.senary img {
	margin-top: 2em;
}
.terciary p {
	margin-bottom: 0em;
}
/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}


/* ================================= 
  Media Queries
==================================== */

 @media (min-width: 768px) {

	.main-nav li {
		display: inline-block;
		width: 17%;
		margin: 1em -2em 1em 3em;
	}
	.main-nav {
		padding-left: 15%;
		/* background-color: rgba(0, 0, 0, .5); */

	}

	header img {
		float: right;
		padding: 2em 0;
		width: 37%;
	}
	.main-header p {
		float: left;
		width: 63%;
		padding: 13.95px;
		text-align: left;
		font-size:  1.05em;
	}
	.name {
		margin-bottom: -0.5em;
		padding-top: 1em;
		margin-top: 0;
	}
	.main-header {
		margin-bottom: 4em;
	}
	.name,
	.main-nav {
		width: 100%;
	}
	/* .container {
		width: 50%;
	} */
	.primary, 
	.secondary, 
	.terciary,
	.quaternary,
	.quinary,
	.senary {
		width: 100%;
		/* border: solid 1px red; */
	}
	/* .content-separator1,
	.content-separator2 {
		text-align: center;
		width: 49%;
		height: 536px;
	} */
	/* .content-separator1 p,
	.content-separator2 p {
		padding: 0 4em;
	}
	.content-separator1 {
		float: left;
	}
	.content-separator2 {
		float: right;
	} */
	.col {
		padding-right: 1.2em;
		padding-left: 1.2em;
	}

	.contact {
		padding: 1em 9em;
	}
} 

 @media (min-width: 1024px) {

	.main-nav li {
		display: inline-block;
		width: 17%;
		margin: 1em -2em 1em 3em;
	}
	.main-nav {
		padding-left: 53%;
		width: 116%;
		/* background-color: rgba(0, 0, 0, .5); */

	}

	header img {
		float: right;
		padding: 2em 0;
		width: 37%;
	}
	.main-header p {
		float: left;
		width: 63%;
		padding: 13.95px;
		text-align: left;
		font-size:  1.05em;
	}
	.name {
		margin-bottom: -0.5em;
		padding-top: 1em;
		margin-top: 0;
	}
	.main-header {
		margin-bottom: 4em;
	}
/*	.name,
	.main-nav {
		width: 100%;
	} */
	/* .container {
		width: 50%;
	} */
	.primary, 
	.secondary, 
	.terciary,
	.quaternary,
	.quinary,
	.senary {
		width: 100%;
		/* border: solid 1px red; */
	}
	/* .content-separator1,
	.content-separator2 {
		text-align: center;
		width: 33%;
		height: 536px;
	}
	.content-separator1 p,
	.content-separator2 p {
		padding: 0 4em;
	}
	.primary col .content-separator1 {
		float: left;
	}
	.secondary col .content-separator2{
		float: right;
	} */
/*	.col {
		padding-right: 1.2em;
		padding-left: 1.2em;
	} */

	.contact {
		padding: 1em 9em;
	}
} 